#home-top-image-section{
    position: relative;
    color: #333; 
}
#home-top-image-section img{
    width: 100%;
    height: 100vh;
    object-fit: cover;

}

#home-top-image-section-over-content{
    position: absolute;
    z-index: 2;  
    left: 0;
    bottom: 0;
    top: 0;
    right: 0; 

    display: flex;
    gap: 80px; 
    margin: 120px 50px;
}
#home-top-image-section-over-content div:nth-child(1) h3{
    font-size: 2.3em;
}
#home-top-image-section-over-content-right{ 
    flex: 0.3;

}
#home-top-image-section-over-content-right h6{
    font-size: 0.9em;
    margin: 20px 0px;
}
#home-top-image-section-over-content-right h4{
    font-size: 1.7em;
    margin-bottom: 20px;
}
#home-top-image-section-over-content-right > p{
    font-size: 0.9em;
    font-weight: 900;
    color: rgb(65, 64, 64);
    line-height: 1.8em; 
}
#home-top-image-section-over-content-right > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(163, 153, 153);
    font-size: 0.9em;
    font-weight: 900;
    padding: 24px;
    margin: 20px 0px; 
    transition: background-color 0.2s linear;
}
#home-top-image-section-over-content-right > div:hover{
    background-color: #333;
    font-weight: 100;
    color: white!important;
    cursor: pointer; 
}












@media only screen and (max-width: 768px) {

    #home-top-image-section{
        position: relative; 
        background-color: #F6F5E8;
        padding-bottom: 8px;
    }
    #home-top-image-section img{
        width: 100%;
        height: 37vh;
        object-fit: cover;
        object-position: 80% 40%; 
    }
    
    #home-top-image-section-over-content{
        position: relative; 
        display: block; 
        margin: 50px 20px;
       
    }
    #home-top-image-section-over-content div:nth-child(1) h3{
         display: none;
    } 
    #home-top-image-section-over-content-right h6{
        font-size: 0.9em;
        margin: 20px 0px;
    }
    #home-top-image-section-over-content-right h4{
        font-size: 1.4em; 
    } 
    #home-top-image-section-over-content-right > div{ 
        padding: 19px;
        margin: 26px 0px;  
    } 
}