#lg-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 3vw;
    background-color: #FFFEF0;
}
#sm-header{
    display: none;
}
#lg-header section{
    display: flex;
    align-items: center;
    gap: 23px;
    font-size: 0.85em;
    font-weight: 900;
}












@media only screen and (max-width: 768px) {
    #lg-header{
        display: none;
    }
    #sm-header{
        display: block;
        display: flex;
        background-color: transparent;
        padding: 28px 4vw;
        align-items: center;
        justify-content: space-between;
        font-weight: 900;

        position: absolute;
        left: 0;
        right: 0;
        z-index: 2; 

    }
    #sm-header > p:nth-child(1){
        font-size: 1.3em;
    }
    #sm-header div{
        display: flex;
        gap: 20px;
        align-items: center;
    } 
    #sm-header > div aside div{
        height : 2px;
        width : 14px;
        background-color: #333; 
        margin: 4px;
    }




    /* modal css */
    #sm-menu{
        width: 100%;
        height: 100%;
        border: 2px solid black;
        background-color: #FFFEF0;
        position: relative;
    }
    #sm-menu-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 5vw;
    }
    #sm-menu-header h4{
        font-size: 1.6em;
    }
    #sm-menu-header div{
        display: flex;
        align-items: center;
        gap: 25px;
        font-weight: 900; 
    }
    #sm-menu-header-list{
        margin: 50px 5vw;
    }
    #sm-menu-header-list p{
        font-weight: 900;
        font-size: 1.2em;
        margin-top: 10px;
    }
    #sm-menu-header-read_stories{
        margin-top: 10px 5vw;
        font-size: 0.9em;
    }
    #sm-menu-header-read_stories p{
        margin: 10px 5vw;
    }
    #sm-menu-header-bottom-bar{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        background-color: #f5f4e5;
        border-top: 1px solid rgb(225, 213, 213);
        padding: 30px 5vw;
        font-weight: 900;
        color: rgb(107, 104, 104);
        font-size: 0.9em;
    }
}